*{
    margin: 0;
    padding: 0;
}

:root{
    --backgroundColor:#D0C9C0;
    --clockColor:#6D8B74;
    --clockBorderColor:#5F7161;
    --secondColor:#354259;
    --minuteColor:#ECE5C7;
    --hoursColor:#CDC2AE;
    --numbersColor:#fff;
    --shadowColor:#000000a2;
}

body{
    background-image: linear-gradient(to right, var(--backgroundColor), var(--hoursColor));
    background-size: cover;
    height: 100%vh;
}

.warpper{
    height: 100vh;
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
    float: left;
}

#clock{
    width: 280px;
    height: 280px;
    background-color: var(--clockColor);
    border: 18px solid var(--clockBorderColor);
    border-radius: 50%;
    margin: 200px auto;
    position: relative;
}

#clock::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: calc(50% - 9px);
    top: calc(50% - 9px);
    background: var(--minuteColor);
    border-radius: 50%;
}

#clock li {
    list-style: none;
    position: absolute;
}

.numbers{
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 5%;
    text-align: center;
}

.numbers span{
    display: block;
    color: var(--numbersColor);
    font-size: 38px;
    text-shadow: 0 5px 18px var(--shadowColor), 0 2px 3px var(--shadowColor);
}

.numbers:nth-child(1){
    transform: rotate(30deg);
}

.numbers:nth-child(1) span{
    transform: rotate(-30deg);
}

.numbers:nth-child(2){
    transform: rotate(60deg);
}

.numbers:nth-child(2) span{
    transform: rotate(-60deg);
}

.numbers:nth-child(3){
    transform: rotate(90deg);
}

.numbers:nth-child(3) span{
    transform: rotate(-90deg);
}

.numbers:nth-child(4){
    transform: rotate(120deg);
}

.numbers:nth-child(4) span{
    transform: rotate(-120deg);
}

.numbers:nth-child(5){
    transform: rotate(150deg);
}

.numbers:nth-child(5) span{
    transform: rotate(-150deg);
}

.numbers:nth-child(6){
    transform: rotate(180deg);
}

.numbers:nth-child(6) span{
    transform: rotate(-180deg);
}

.numbers:nth-child(7){
    transform: rotate(210deg);
}

.numbers:nth-child(7) span{
    transform: rotate(-210deg);
}

.numbers:nth-child(8){
    transform: rotate(240deg);
}

.numbers:nth-child(8) span{
    transform: rotate(-240deg);
}

.numbers:nth-child(9){
    transform: rotate(270deg);
}

.numbers:nth-child(9) span{
    transform: rotate(-270deg);
}

.numbers:nth-child(10){
    transform: rotate(300deg);
}

.numbers:nth-child(10) span{
    transform: rotate(-300deg);
}

.numbers:nth-child(11){
    transform: rotate(330deg);
}

.numbers:nth-child(11) span{
    transform: rotate(-330deg);
}

#second{
    width: 100%;
    height: 100%;
    animation: sec 60s steps(60, end) infinite;
}   

#second::after{
    content: "";
    width: 4px;
    height: 107px;
    border-radius: 2px;
    background: var(--secondColor);
    position: absolute;
    left: calc(50% - 2px);
    top: 55px;
    box-shadow: 1px 2px 3px var(--shadowColor);
}

#minute{
    width: 100%;
    height: 100%;
    animation: sec 3600s steps(60, end) infinite;
}

#minute::after{
    content: "";
    width: 8px;
    height: 79px;
    border-radius: 4px;
    background: var(--minuteColor);
    position: absolute;
    left: calc(50% + 30px);
    top: 29%;
    transform: rotate(-120deg);
    box-shadow: -1px 0 5px var(--shadowColor);
}

#hour{
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    animation: sec 216000s steps(60, end) infinite;
}

#hour::after{
    content: "";
    width: 12px;
    height: 65px;
    border-radius: 6px;
    background: var(--hoursColor);
    position: absolute;
    left: calc(50% - 7px);
    top: 50%;
    box-shadow: 1px 0 4px var(--shadowColor);
}

@keyframes sec{
    to{
        transform: rotate(360deg)
    }
}